html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(to right top, #6611d6, #5932dd, #4b45e2, #3f54e5, #3661e7, #265fd5, #1a5cc3, #1658b1, #0c468a, #0b3464, #0d2340, #0a121f);
    color: white;
}


header {
    display: flex;
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0.5vw;
    font-size: 3em;

}


main {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

main .box {
    display: flex;
    flex-direction: column;
    background-color: #6611D6;
    position: relative;
    padding: 20px;
    width: 35vw;
    border-radius: 20px;
    box-shadow: 2px 2px 20px;
}

.box .top-img {
    position: absolute;
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}

.box .top-img img {
    height: 100%;
    top: -10px;
    left: 50%;
}


.inner-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}



.inner-box input {
    width: 70%;
    line-height: 30px;
    font-size: 1.3em;
    padding: 17px 17px;
    border-radius: 30px;
    outline: none;
}


.shorten-btn {
    border: 1px solid white;
    padding: 10px 20px;
    background-color: #5f8efd;
    border-radius: 10px;
    font-size: 2em;

    margin-top: 20px;
    box-shadow: 2px 2px 10px;
    transition: 1s ease box-shadow;
}

.shorten-btn:hover {
    box-shadow: 2px 2px 20px;
    transition: 1s ease box-shadow;
}

.shorten-btn:hover {
    cursor: pointer;
}






.modal-link-blur, .modal-link-blur-err  {
    position: fixed;

    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;


    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
}


.modal-link, .modal-link-err {
    position: relative;
    text-align: center;
    width: 50vh;
    color: black;
    background: white;
    padding: 10px 10px;

}


.modal-link-close, .modal-link-close-err  {
    position: absolute;
    right: 0;
    top: 0;
}

.modal-link-close:hover, .modal-link-err:hover {
    cursor: pointer;
}


.copy-btn {
    padding: 10px;
    border: 2px solid red;
}

.copy-btn:hover {
    cursor: pointer;
}



@media screen and (max-width: 700px) {
    main .box {
        width: 80vw;
    }
    .inner-box input {
        width: 90%;
    }
}